@charset "UTF-8"

* {
   
    font-size: 1.3em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body, html { 
    font-family: Arial, Helvetica, sans-serif;

    height: 100vh;
    font-size: 1.3em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background: black url(../imagens/imagens\ cap.25/back-phone.jpg) no-repeat;
}
main {
    background-color: rgba(255, 255, 255, 0.63);
    width: 90vw;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
}
h1 {
    text-align: center;
}
img {
    display: block;
    margin: auto;
}
#cell{display: block;}
#print{display: none;}
#tablet{display: none;}
#pc{display: none;}
#tv{display: none;}