@charset "UTF-8" ;
@media screen and (min-width: 770px) {
    i#buger{
        display: none;
    }
    menu {
        display: block;
    }
    menu > ul > li {
        display: inline-block;
        
    }
    main {
        width: 50vw;
    }
}