@charset "UTF-8" ;
/*Para telas*/

* {
    margin: 0px;
    padding: 0em;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: darkgray;
}
header > h1 {
    background-color: gray;
    text-align: center;
}
menu ul {
    list-style-type: none;
    background-color: rgb(69, 69, 70);
}
menu li {
    display: inline-block;
    padding: 1em;
    background-color: rgb(37, 32, 32);
    color: white;

}
article {
    width: 800px;
    display: block;
    margin: auto;
}
