@charset "UTF-8" ;
        body {
            background-color: rgb(37, 37, 37);
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
        } 
        h1 {
            color: rgb(0, 255, 0);
        }
        p {
            color: rgb(255, 255, 255);
            text-align: justify;
        }