@charset "UTF-8" ;
/*Para telas*/

* {
    margin: 0px;
    padding: 0em;
    font-family: Arial, Helvetica, sans-serif;
    
}
body, html {
    background-color: gainsboro;
}

header {
    background-color: rgb(80, 80, 80);
    
}
header > h1 {
    padding: 10px;
    text-align: center;

}

i#buger{
    background-color: black;
    color: white;
    display: block;
    text-align: center;
    padding: 20px;
    cursor: pointer;
}
i#buger:hover {
    background-color: white;
    color: black;
}

menu {
    display: none;
}
menu > ul {
    list-style-type: none;
    
}
menu >ul > li > a{
    display: block;
    padding: 10px;
    background-color: rgb(31, 29, 29);
    text-align: center;
    border-top: 1px solid rgb(0, 0, 0);
    color: white;
    text-decoration: none;

}
menu > ul > li > a:hover {
    background-color: rgb(102, 95, 95);
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article > h2 {
    padding-bottom: 20px;
}

article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}
