@charset "UTF-8" ;

* {
font-family: Arial, Helvetica, sans-serif;
}
p {
text-align: justify;
}
body{
    background-image: linear-gradient(to left, #F2F2F2, #8d6262 );
}
h1 {
    color: #920511;
    text-align: center;
}
h2 {
    color: #e92c5e;
}
main {
    background-color: white;
    width: 600px;
    border-radius: 10px;
    margin: auto;
}
