@charset "UTF-8";

body {
    background-color: rgb(30, 153, 210);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.15em;
}
h1 {
    text-align: left;
    color: rgb(60, 22, 167);
}
h2 {
    color: rgb(19, 84, 114);
    text-align: left;
}
p {
    text-align: left;
}
.Pri {
    text-align: center;
    background-color: rgb(43, 70, 226);
    color: azure;
}
