@charset "UTF-8";
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    
}
header {
    padding: 10px;
}
section{
    padding: 20px;
    background-color: #c7c7c7;
    display: flex;
    flex-flow: column nowrap;
}


.medtext{
    display: flex;
    flex-flow: row wrap;
}
.med-text{
    display: flex;
    flex-flow: row wrap;
}

article > div.text{
    flex: 1 1 500px;
}
article > div.media{
    flex: 1 1 500px;
    
    
}
div.media > img{
    display: block;
    margin: auto;
}
div.media > iframe{
    display: block;
    margin: auto;
    padding: 0px 20px;
    width: 90%;
    height: 350px;
}
