@charset "UTF-8" ;

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Arial, Geneva, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;

}
* {
    margin: 0px;
    padding: 0px;
}
html, body {
    font-family: var(--fonte1);
    min-height: 100vh;
    background-color: darkgray;
}
header {
    background-color: black;
    color: white;
    text-align: center;

}
header > h1 {
    padding-top: 50px;
    font-size: 5em;
    font-variant: small-caps;
    font-family: var(--fonte2);
}
header > p {
    padding-bottom: 50px;
    font-size: 2,7em;
}
a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover {
    text-decoration: underline;
    color: blue;
}
section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    font-size: 2.2em;
    padding-left: 30px;
    font-family: var(--fonte3);
}
.normal {
    background-color: white;
}
.imagem {
    background-color: blueviolet;
    color: white;
}
section.imagem > p {
    background-color: rgba(0, 0, 0, 0.356);
    width: 400px;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}