@charset "UTF-8" ;
@media screen and (min-width:769px) and (max-width:1167px){
    section#login {
        width: 90vw;
        background-color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        border-radius: 10px;
        transition: width .3s, height .3s;
    }

    section > div#imgl {
        background-image: url(https://blog.geekhunter.com.br/wp-content/uploads/2024/12/chris-ried-ieic5Tq8YMk-unsplash-scaled.jpg);
        width: 35%;
        height: 400px;
        background-size: cover;
        background-position: center center;
        float: right;
    }

    body {
        background-image: linear-gradient(to right, rgb(0, 157, 230), rgb(5, 166, 206)) ;
        
        
    }
    #form {
        margin: 20px;
        float: left;
        display: block;
    }
    div#form > h1 {
        text-align: center;
        padding: 10px 0px;
    }
    .button {
        width: 90%;
        display: block;
        padding: 5px;
        margin: 10px 0px;
        background-color: cadetblue;
        color: white;
        cursor: pointer;
        border: none;
        border-radius: 5px;
    }
    .button:hover {
        background-color: rgb(66, 107, 109);
    }
    .campo {
        font-size: 17px;
        
        padding: 5px;
        border-radius: 5px;
        width: 58%;
        margin: 5px;
    }
    #psw {
        width: 240px;
        background-color: rgb(0, 204, 255);
        height: 25px;
    }
    #email {
       width: 240px;
       background-color: rgb(0, 204, 255);
       height: 25px;
    }
    #nome {
        width: 240px;
        background-color: rgb(0, 204, 255);
        height: 25px;
    }
}

@media screen and (min-width:1168px) {
   section#login {
        width: 90vw;
        background-color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        border-radius: 10px;
        transition: width .3s, height .3s;
    }

    section > div#imgl {
        background-image: url(https://blog.geekhunter.com.br/wp-content/uploads/2024/12/chris-ried-ieic5Tq8YMk-unsplash-scaled.jpg);
        width: 50%;
        height: 400px;
        background-size: cover;
        background-position: center right;
        float: right;
    }

    body {
        background-image: linear-gradient(to right, rgb(0, 157, 230), rgb(5, 166, 206)) ;
        
        
    }
    #form {
        margin: 20px;
        float: left;
        display: block;
        position: absolute;
        top: 0px;
        left: 10%;
    }
    div#form > h1 {
        text-align: center;
        padding: 10px 0px;
    }
    .button {
        width: 90%;
        display: block;
        padding: 5px;
        margin: 10px 0px;
        background-color: cadetblue;
        color: white;
        cursor: pointer;
        border: none;
        border-radius: 5px;
    }
    .button:hover {
        background-color: rgb(66, 107, 109);
    }
    .campo {
        font-size: 17px;
        
        padding: 5px;
        border-radius: 5px;
        width: 58%;
        margin: 5px;
    }
    #psw {
        width: 240px;
        background-color: rgb(0, 204, 255);
        height: 25px;
    }
    #email {
       width: 240px;
       background-color: rgb(0, 204, 255);
       height: 25px;
    }
    #nome {
        width: 240px;
        background-color: rgb(0, 204, 255);
        height: 25px;
    }
}


