@charset "UTF-8" ;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: Inter, Arial, Helvetica, sans-serif;
}
header {
    background-color: aquamarine;
    box-shadow: 0px 3px 10px #464646;
}
.nav {
    display: flex;
    justify-content: space-around;
    padding: 2em 6em;
}
.nav-list {
    display: inline-block;
}
.lg > h1 {
    font-size: 2rem;
}
.nav-list > .nav-link {
    padding: 0.5em;
    text-decoration: none;
    font-size: 1.3em;
    color: #000000;
    font-weight: 400;
}
.login > button{
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: rgb(124, 191, 223);
}
button > a {
    text-decoration: none;
    color: #000000;
}

h2 {
    padding: 2em;
    text-align: center;
}

#html {
    margin: 5em 0px 0px 0xp;
    background-color: rgb(229, 83, 45);
    padding: 10em;
    
    border-radius:  4em 4em  0px 0px ;
}
#css {
    text-align: center;
    background-color: rgb(8, 122, 192);
    padding: 10em;
}
#js {
    text-align: center;
    background-color: #e8a62f;
    padding: 9em 9em 5em 9em;
   
}
.content{
    color: blue;
    font-size: 3em;
    text-align: center;
}
