@charset "UTF-8" ;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --cor1: rgb(229, 83, 45);
    --cor2: rgb(45, 83, 229);
    --cor3: #E4A125;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    
}

body {
    background-color: #222429;
}
header {
    background-color: rgb(127, 225, 255);
    box-shadow: 0px 3px 10px aquamarine;
}
.logo {
    height: 60px;
    width: 220px;
}
.nav {
    display: flex;
    justify-content: space-around;
    padding: 2em 6em;
}
.nav-list {
    display: inline-block;
}
.lg > h1 {
    font-size: 2rem;
}
.nav-list > .nav-link {
    padding: 0.5em;
    text-decoration: none;
    font-size: 1.3em;
    color: #000000;
    font-weight: 400;
}
.login > button{
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: rgb(0, 157, 230);
    height: 50px;
    width: 100px;
}
button > a {
    text-decoration: none;
    color: #000000;
    font-size: 1.4em;
}
main {
    background-color: rgb(173, 173, 173);
    margin: 5px 10em 0px 10em;
}

.par {
    padding: 2em;
    text-align: center;
    font-size: 1.6em;
}

h3 {
    padding: 2em;
    text-align: center;
    font-size: 1.6em;
}
.content{
    color: rgb(255, 255, 255);
    font-size: 3em;
    text-align: center;
    display: inline-block;
    
}
p > a {
    color: white;
    text-decoration: none;
}

    .botoes {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 15px;
    }

    .botao {
      display: inline-block;
      background-color: #ffffff;
      color: #0077ff;
      text-decoration: none;
      padding: 12px 24px;
      border-radius: 10px;
      font-weight: bold;
      transition: 0.3s ease;
    }

    .botao:hover {
      background-color: rgb(127, 225, 255);
      color: white;
      transform: scale(1.05);
    }

   #b1, #b2{
        margin: 3em;
   }
