@charset "UTF-8" ;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --cor1: rgb(229, 83, 45);
    --cor2: rgb(45, 83, 229);
    --cor3: #E4A125;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: Inter, Arial, Helvetica, sans-serif;
}
header {
    background-color: aquamarine;
    box-shadow: 0px 3px 10px #464646;
}
.nav {
    display: flex;
    justify-content: space-around;
    padding: 2em 6em;
}
.nav-list {#2D53E5
    display: inline-block;
}
.lg > h1 {
    font-size: 2rem;
}
.nav-list > .nav-link {
    padding: 0.5em;
    text-decoration: none;
    font-size: 1.3em;
    color: #000000;
    font-weight: 400;
}
.login > button{
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: rgb(124, 191, 223);
}
button > a {
    text-decoration: none;
    color: #000000;
}

h2 {
    padding: 2em;
    text-align: center;
}

#html {
    background-image: linear-gradient(to right,  rgb(229, 83, 45), rgb(45, 83, 229)) ;
    padding: 10em;
    margin: 1em 5em;
    border-radius: 4em;
}

#js {
    text-align: center;
    background-color: #e8a62f;
    padding: 5em;
    margin: 5em 55px;
    border-radius: 2em;
}
.content{
    color: rgb(255, 255, 255);
    font-size: 3em;
    text-align: center;
    
}
p > a {
    color: white;
    text-decoration: none;
}
