@charset "UTF-8" ;

* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(201, 152, 18);
    
}

body {
    background-color: #222429;
}
header {
    background-color: rgb(127, 225, 255);
    box-shadow: 0px 3px 10px aquamarine;
}
.logo {
    height: 60px;
    width: 220px;
}
.nav {
    display: flex;
    justify-content: space-around;
    padding: 2em 6em;
}
.nav-list {#2D53E5
    display: inline-block;
}
.lg > h1 {
    font-size: 2rem;
}
.nav-list > .nav-link {
    padding: 0.5em;
    text-decoration: none;
    font-size: 1.3em;
    color: #000000;
    font-weight: 400;
}
.login > button{
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: rgb(0, 157, 230);
    height: 50px;
    width: 100px;
}
button > a {
    text-decoration: none;
    color: #000000;
    font-size: 1.4em;
}

h1, p.titulo {
    background-color: rgb(201, 90, 11);
    padding: 20px;
    text-align: center;
}
p.titulo {
    padding: 10px;
}
p{
    height: auto;
}
main {
    background-color: white;
    padding: 50px 200px;
    max-width: 800px;
    min-width: 250px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.500);
    border-radius: 0px 0px 10px 10px;
}
h2 {
    text-align: center;
}
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
a:hover {
    text-decoration: underline;
}
 .mod {
    margin: auto;
    margin-left: 80px;
    margin-bottom: 80px;
    margin-top: 50px;
    text-align: center;
    display: inline-block;
    background-color: rgb(180, 33, 33);
    transition: 0.3s ease;
    padding: 100px;
    border-radius: 10px;
    cursor: pointer;
}
.mod:hover {
    color: white;
    transform: scale(1.05);
}
#m2 {
    background-color: rgb(7, 179, 7);
    font-style: italic;
}
#m3 {
    background-image: linear-gradient(to bottom, blue, red);
}
#m4{

}
#m5{

}
