@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
  --white:#FFFFFF;
  --muted:#F8F8F8;
  --divider:#E5E5E5;
  --text:#333333;
  --title:#111111;

  --html:#FF6D00;
  --css:#2965F1;
  --js:#F7DF1E;
  --php:#4F5B93;
}
*{
    padding: 0%;
    margin: 0%;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
header{
    background-color: rgb(102, 170, 226);display:flex;
   align-items:center;
   justify-content: space-between;  
    
}
.logo{
    width: 200px;
    padding: 10px 5px 5px 10px;
}
nav{ 
   margin-right: 20px;
}
.nav{
    text-decoration: none;
    color: black; 
    margin: 0px 10px;
}
.bnt{
    text-decoration: none;
    color: black; 
    background-color: aqua;
    padding: 10px;
    border-radius: 10px;
}