@charset "UTF-8" ;
    body {
        background-color: rgb(0, 157, 230);
    }
    .login {
        display: none;
    }
    .nav{
        justify-content: space-between;
    }
    .nav-link{
        position: absolute;
        top: 1.9em;
        display: none;
    }

    section#login {
        background-color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        border-radius: 10px;
    }

    section > div#imgl {
        background-image: url(https://blog.geekhunter.com.br/wp-content/uploads/2024/12/chris-ried-ieic5Tq8YMk-unsplash-scaled.jpg);
        height: 200px;
        background-size: cover;
        background-position: center right;
    }
    .button {
        width: 100%;
        display: block;
        padding: 5px;
        margin: 10px 0px;
        background-color: cadetblue;
        color: white;
        cursor: pointer;
        border: none;
        border-radius: 5px;
    }
    .button:hover {
        background-color: rgb(66, 107, 109);
    }
    .campo {
        font-size: 17px;
        
        padding: 5px;
        border-radius: 5px;
        width: 58%;
        margin: 5px;
    }
    #psw {
        width: 240px;
        background-color: rgb(0, 204, 255);
        height: 25px;
    }
    #email {
       width: 240px;
       background-color: rgb(0, 204, 255);
       height: 25px;
    }
    #nome {
        width: 240px;
        background-color: rgb(0, 204, 255);
        height: 25px;
    }





